.masthead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}
.masthead-logo {
  display: inline-flex;
  min-width: max-content;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
/* pickle pickle pickle */
.masthead-logo img {
  margin-right: 10px;
}
.masthead ul {
  display: inline-block;
  justify-content: space-around;
  margin: 0px 25px;
}
.masthead a {
  margin: 10px;
}
